* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
	min-width: fit-content;
	color: white;
}

p {
	font-size: 16px;
}

h3 {
	font-size: 18px;
	font-weight: 500;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

input {
	font-size: 16px;
}

input:focus {
	outline: none;
}

a {
	color: #19b5fe;
}

:root {
	--primary-color: #04bdbc;
	--primary-color-darken: #1e9999;

	--background-color: #1f222c;
	--panel-color: #252934;
	--input-color: #30373f;

	--deletion-color: #d35454;
	--deletion-color-darken: #a02929;
}

.button {
	background: var(--primary-color);
	padding: 0px 20px;
	border: none;
	border-radius: 5px;
	color: white;
}

.button:hover {
	background: var(--primary-color-darken);
	cursor: pointer;
}

.background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -50;
	object-fit: cover;
	right: 0;
	top: 0;
}

.form-fields {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	gap: 15px;
}

.form-fields .form-field {
	display: flex;
	background: var(--input-color);
	padding: 15px 10px;
	align-items: center;
	border-radius: 5px;
	gap: 8px;
}

.form-fields input {
	flex-grow: 1;
	border-width: 1px 1px 1px 1px;
	border-color: rgba(0, 0, 0, 0.6);
	background: transparent;
	border: 0;
}

/* ! ========================= AUTH ========================= */

.auth-container {
	background: var(--background-color);
	width: 100dvw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 640px;
	padding: 10px 10px;
}

.auth-panel {
	width: 480px;
	background: var(--panel-color);
	opacity: 1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding: 50px 40px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.title-container {
	padding: 15px 10px;
	/* background: white; */
	background: rgba(0, 0, 0, 0.2);
	/* border-radius: 5px; */
	text-align: center;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

.title-container h2 {
	font-family: Martian Mono;
	color: var(--primary-color-darken);
	font-weight: 700;
}

.auth-form-container {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 28px;
}

.auth-form-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-errors {
	height: 100px;
}

.auth-proceed-button {
	align-self: stretch;
	padding: 5px 25px;
}

/* ! ========================= END AUTH ========================= */

/* ! ========================= CONTACT ========================= */

.contact-container {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	background: var(--background-color);
}

.sidebar {
	width: 250px;
	background: var(--panel-color);
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-top {
	display: flex;
	flex-direction: inherit;
	gap: 40px;
}

.logout-button {
	text-align: center;
	background: var(--deletion-color);
}

.logout-button:hover {
	background: var(--deletion-color-darken);
	cursor: pointer;
}

.navigation-buttons {
	display: flex;
	flex-direction: inherit;
	gap: 10px;
}

.navigation-button {
	padding: 10px;
	text-align: center;
}

.contact-content {
	flex-grow: 1;
	padding: 25px 50px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	min-width: 0px;
}

.search {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
}

.search input {
	flex-grow: 1;
	padding: 5px 15px;
	background-color: var(--input-color);
	border: none;
	border-radius: 5px;
}

.add-contact-panel {
	background: var(--panel-color);
	padding: 15px;
	border-radius: 5px;
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 15px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.add-contact-form-fields {
	display: flex;
	flex-direction: row;
	align-items: start;
	flex-wrap: wrap;
	row-gap: 15px;
	row-gap: 15px;
}

.add-contact-form-fields .form-field {
	flex-grow: 1;
	flex-basis: 0;
}

.all-contact-panel {
	flex-grow: 1;
	background: var(--panel-color);
	padding: 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 15px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.contact-entry {
	align-self: stretch;
	display: flex;
	row-gap: 10px;
	column-gap: 30px;
	flex-wrap: wrap;
	padding: 15px 0px 5px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-width: 2px 0px 0px 0px;
}

.contact-entry-info {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
}

.contact-entry-navigation {
	display: flex;
	gap: 10px;
}

.delete-contact-button {
	background-color: var(--deletion-color);
}

.delete-contact-button:hover {
	background: var(--deletion-color-darken);
	cursor: pointer;
}

/* ! ========================= END CONTACT ========================= */

/* ! ========================= MEDIA QUERIES ========================= */
@media (max-width: 900px) {
	.contact-container {
		flex-direction: column;
	}

	.sidebar {
		width: auto;
		flex-direction: row;
		padding: 5px;
		flex-wrap: wrap;
	}

	.sidebar-top .title-container {
		display: none;
	}

	.contact-content {
		padding: 10px;
		gap: 15px;
	}

	.add-contact-panel {
		padding: 10px;
	}

	.all-contact-panel {
		padding: 10px;
	}

	.sidebar-top hr {
		display: none;
	}

	.navigation-button {
		padding: 5px;
	}
}

@media (max-width: 500px) or (max-height: 640px) {
	input {
		font-size: 14px;
	}

	p {
		font-size: 14px;
	}

	h3 {
		font-size: 16px;
	}

	h2 {
		font-size: 20px;
	}

	h1 {
		font-size: 26px;
	}

	.auth-panel {
		padding: 40px 20px;
	}
}

@media (max-height: 640px) {
	.auth-container {
		align-items: flex-start;
	}
}
